<p style="color: green"><%= notice %></p>

<%= render @care %>

<div>
  <%= link_to "Edit this care", edit_care_path(@care) %> |
  <%= link_to "Back to cares", cares_path %>

  <%= button_to "Destroy this care", @care, method: :delete %>
</div>
